/* 
  File Name: Layout.css
  Student’s Name: Shawna Halladeen
  Student ID: 301154976
  Date: September 28, 2024
*/

/* Global reset for margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fffffd;
    color: #2d2b2f;
}

/* Header styling */
header {
    background-color: #fffffd;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* Logo styling */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    background-color: #2d2b2f;
    color: #fffffd;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

/* Navigation link styling */
.nav-link {
    color: #2d2b2f;
    margin: 0 1rem;
    text-decoration: none;
    position: relative;
    padding: 10px;
    font-size: large;
}

/* Underline animation for nav links */
.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #2d2b2f;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 50%;
}

/* Main content styling */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
