.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #fffffd;
    color: #2d2b2f; 
}

/* Heading style */
h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

/* Paragraph style */
p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Button style */
.view-projects-button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #2d2b2f; 
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border: 2px solid #2d2b2f; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Button hover effect */
.view-projects-button:hover {
    background-color: #2d2b2f; 
    color: #fffffd; 
}

/* Icon styling */
.arrow-icon {
    margin-left: 0.5rem; 
    font-size: 1.5rem; 
    animation: moveArrow 1s infinite;
}

/* Arrow animation */
@keyframes moveArrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px); 
    }
    100% {
        transform: translateY(0); 
    }
}
