/* 
  File Name: Services.css
  Student’s Name: Shawna Halladeen
  Student ID: 301154976
  Date: September 28, 2024
*/

/* Styling for the services container */
.services-container {
    text-align: center;
    padding-top: 100px;
}

/* Styling for service list */
.service-list {
    list-style-type: none;
    font-size: 1.5rem;
}

/* Each service item */
.service-list li {
    margin-bottom: 10px;
}
